# Unity-specific directories
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# Cache and temporary files
.gradle/
.idea/
.vs/

# IDE and project files
*.csproj
*.unityproj
*.sln
*.userprefs
*.pidb
*.opendb

# Crash reports and build artifacts
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app

# Addressables and temporary streaming assets
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*

